---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,400italic,700,700italic,300);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     10px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// pratik's variables
$font-title: 'Oswald', 'Helvetica Neue', sans-serif;
$font-body: 'Lato', 'Helvetica Neue', sans-serif;
$source-code: 'Source Code Pro', sans-serif;
$foot-clr: #00070D;
$twt-clr: #00AEEF;
$nke-g-clr: #22FF01;
$whte: #fff;
$blk: black;
$bckgrd-clr: #F4F4F4;
$post-hover-clr: #7a7a7a;
$prj-desc: #A9A9A9;
$upcase: uppercase;

// Width of the content area
$content-width:    990px;

$on-palm:          600px;
$on-laptop:        960px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "utility",
        "navigation",
        "homepage",
        "footer",
        "post",
        "project",
        "about",
        "blog"
;
