---
layout: default
---

<div class="home">

  <div class="grid-container">
    {% for post in site.posts %}
      <div class="block">

        {% if post.image %}
          <img src="/img/posts/{{ post.image }}">
        {% endif %}

        <div>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <p>{{post.excerpt | truncatewords:75 }}</p>

          <span class="post-meta font-title">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
