#about {

  font-family: $font-lato;

  div {
    color: $whte;
    max-width: 750px;
    padding: 15px;

    h1 {
      font-weight: bold;
      margin-bottom: 1.5em;
      letter-spacing: 25px;

      span {
        letter-spacing: 0;
      }
    }

    p {
      text-align: left;
      font-weight: lighter;
      line-height: 1.7em;
      letter-spacing: 1px;
      margin-bottom: 1.5em;

      a {
        font-weight: bold;
        color: $twt-clr;
        border-bottom: 1px dotted $whte;

        &:hover { border-bottom-style: solid; }
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  #social-nav { display: none; }

  #about { min-height: 500px; }

  .v-center {
    position: static;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 350px) {
  #about {
    min-height: 600px;
    div h1 {
      margin-bottom: 0.75em;
    }
  }
}
