/* Blog body */
.page-content { background-color: $bckgrd-clr; }

/* masonry config */
.grid-container {
  margin: 0 auto;
}

.block {
  background-color: $whte;
  display: inline-block;
  width: 275px;
  margin: .4em;
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);

  /* scale effect for images */
  a.img-link {
    overflow: hidden;
    display: inline-block;

    img {
      width: 100%;  /* for Firefox so images don't extend outside box*/

      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;

      vertical-align: middle;

      &:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
        transform:scale(1.5);
      }
    }
  }


  div {
    padding: 5px 16px 16px 16px;

    h2 {
      margin-bottom: 0;
      text-transform: $upcase;

      a.post-link {
        font-family: $font-title;
        color: $blk;
      }

      a.post-link:hover {
        text-decoration: none;
        transition: color 0.3s;
        color: $post-hover-clr;
      }
    }

    p {
      font-family: $font-body;

      .btn-read {
        padding: 3px;
        border-radius: 16px;
        background-color: $nke-g-clr;
      }
    }
  }


  .post-date {
    text-transform: $upcase;
    font-family: $font-title;
  }
}

@media only screen and (max-width: 415px) {
  .grid-container {
    margin: 0;
  }

  .block {
    margin: 0 0 5px 0;
    width: 100%;
  }
}
