/*utility tool when writting blog post*/

.blg-lists {
  margin-left: 25px;

  li {
    margin-bottom: 5px;
  }
}

.blg-img {
  padding: 5px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid #E0E0E0;
}

p {
  margin-bottom: 15px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

figure {
  margin-top: 25px;
  margin-bottom: 15px;
}

figcaption {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

pre {
  border: none;
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}

ul, ol {
  margin-left: 30px;
}
