/*Footer*/
#twitter-btn { margin-bottom: 15px; }

.twitter-follow-button { border-radius: 5px; }

#social-media {
  padding-left: 0;
  margin-bottom: 10px;
}

.social-media-list li {
  display: inline;
  padding: 0 10px;
}

.social-media-list li a {
  text-decoration: none;
}

/* hire */
#hire { color: $nke-g-clr; }

.footer-copyw {
  font-size: .85em;
  color: $whte;
}

@media only screen and (max-width: 415px) {
  .site-footer {
    position: relative;
    padding-bottom: 0;
  }
}
