/*Footer*/
#twitter-btn { margin-bottom: 15px; }

#social-media {
  padding-left: 0;
  margin-bottom: 10px;
}

.social-media-list li {
  display: inline;
  padding: 0 10px;
}

.social-media-list li a {
  text-decoration: none;
}