#homepage {
  background-color: $blk;
}

#hero-container {
  font-size: 8em;
  font-family: $font-project;

  .colored { font-size: 3.0em; }

  .texts {

    p {
      opacity: 0;
      letter-spacing: 25px;
      // background: -webkit-linear-gradient(left, rgba(41,106,212,1) 0%, rgba(78,142,247,1) 100%);
      // background: -moz-linear-gradient(left, rgba(41,106,212,1) 0%, rgba(78,142,247,1) 100%);
      // -webkit-background-clip: text;
      // -moz-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // -moz-text-fill-color: transparent;

      .t1 {
        background-color: $twt-clr;
      }

      .t2 {
        border-top: 10px solid $twt-clr;
        border-right: 10px solid $twt-clr;
        border-bottom: 10px solid $twt-clr;
        color: $twt-clr;
      }
    }
  }
}

/*navigation for mobile*/
@media only screen and (max-width: 600px) {
  #hero-container {
    font-size: 6em;
    min-height: 400px;
  }
}

@media only screen and (max-width: 450px) {
  #hero-container {
    font-size: 3.2em;
  }
}
