/* Navigation editing */

.site-nav {
  line-height: 0;
}

/*navigation title*/
#title { color: $whte; }

.font-title { font-family: $font-title; }

/* navigation link and dropdown list */

#prj-nav {
  position: relative;
  display: inline-block;
}

.prj-content {
  display: none;
  position: absolute;
  min-width: 200px;
  left: -10px;
  line-height: 40px;
  background-color: $whte;
  -web-kit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
      -o-border-radius: 0 5px 5px 5px;
         border-radius: 0 5px 5px 5px;

  a {
    text-decoration: none;
    color: $twt-clr;
    font-family: $font-title;
    padding-left: 15px;
    display: block;
  }

  a:hover {
    background-color: $twt-clr;
    color: $whte;
  }
}

#prj-nav:hover {
  .prj-link {
    background-color: $whte;
    span {
      color: $twt-clr;
    }
  }

  .prj-content { display: block; }
}

.cust-page-lnks {
  float: left;
  margin-right: 20px;
}

@media only screen and (max-width: 600px){
  .cust-page-lnks {
    float: none;
    margin-right: 5px;
  }
  div.prj-content {
    display: none;

    a {
      display: none;
    }
  }
}


/*navigation links for desktop*/
@media only screen and (min-width: 600px) {
  .nav-link {
    display: inline-block;
    padding: 15px 5px;
    text-align: center;
    transition: background 0.2s;
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
            transform: skew(-20deg);

    span {
      display: inline-block;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transform: skew(20deg);
         -moz-transform: skew(20deg);
           -o-transform: skew(20deg);
              transform: skew(20deg);
    }

    &:hover {
      background: $whte;

      span {
        color: $twt-clr;
      }
    }
  }
}

/*navigation for mobile*/
@media only screen and (max-width: 600px) {
  .site-nav:hover .trigger {
    background-color: $twt-clr;

    a span {
      color: $whte;
    }
  }
}
