code, pre {
  font-family: $source-code !important;
}

#post {
  max-width: $content-width * .71;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin: 0 auto;
  display: block;

  div.post-content {
    font-family: $font-body;
    font-size: 1.250em;
    line-height: 2.00em;
    letter-spacing: -.1px;
    color: #333;
    height: auto;

    li {
      line-height: 1.75em;
    }

    h3 { font-weight: bold; }
  }
}

#post-title {
  font-family: $font-title;
  text-transform: $upcase;
  letter-spacing: .25px;
}

.post-meta {
  margin-bottom: 10px;
  font-family: $font-title;
}

time {
  text-transform: $upcase;
}

@media only screen and (max-width: 436px) {
  #post { font-size: 1em; }
}
