code, pre {
  font-family: $source-code !important;
}

#post {
  font-size: 1.1875em;
  max-width: $content-width * .71;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin: 0 auto;
  display: block;
}

#post-title {
  text-transform: $upcase;
  letter-spacing: .25px;
}

.post-meta {
  margin-bottom: 10px;
}

time {
  text-transform: $upcase;
}

@media only screen and (max-width: 436px) {
  #post { font-size: 1em; }
}