.center {
  display: block;
  margin: 0 auto;
  text-align: center;
  float: none;
}

.v-center {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.read-m-clr { color: $twt-clr !important; }

/* icons that will interchange pictures on hover */
.icon-social img:last-child {
  display: none;
}

.icon-social:hover img:first-child {
  display: none;
}

.icon-social:hover img:last-child {
  display: inline-block;
}

.icon-social img {
  height: 25px;
  width: 25px;
}

/* social nav on side */
#social-nav {
  position: fixed;
  top: 20%;

  ul {
    list-style-type: none;
    margin: 0px;

    li {
      a {

        /* icon logo */
        img {
          height: 40px;
          width: 40px;
        }

        /* word logo */
       & + span {
          opacity: 0;
          transition: 1s;

          img {
            height: auto;
            width: 100px;
          }
        }

        &:hover + span {
          opacity: 1;
        }
      }

      // fix position of linked in and instagram images
      &:nth-child(3) a + span img { padding-left: 10px; }
      &:nth-child(4) a + span img { padding-left: 5px; }
      &:nth-child(5) a + span img { padding-left: 10px; }
    }
  }
}

@media only screen and (max-width: 415px) {
  #social-nav { display: none; }
}
