.center {
  display: block;
  margin: 0 auto;
  text-align: center;
  float: none;
}

/* icons that will interchange pictures on hover */
.icon-social img:last-child {
  display: none;
}

.icon-social:hover img:first-child {
  display: none;
}

.icon-social:hover img:last-child {
  display: inline-block;
}

.icon-social img {
  height: 25px;
  width: 25px;
}
