/* template homepage blog */

.debug {
  border: 0px solid red;
}
/* load fonts */
@font-face {
  font-family: 'AnkaCoder';
  src: url(../font/AnkaCoder-r.ttf);
}
@font-face {
  font-family: 'Akashi';
  src: url(../font/Akashi.ttf);
}
.bckgrd {
  /*background-image: url("../imgs/backgrounds/backtile.png");*/
  background-color: #FEFEFA;
}
.blg-title {
  font-family: 'Georgia', sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}
.fnt-w {
  font-family: 'AnkaCoder', sans-serif;
}
.arc-t {
  margin-bottom: .125em;
  padding: 0px;
  list-style-type: none;
  text-decoration: underline;
}
.lst-style {
  list-style-type: none;
  text-decoration: none;
}
.lnk a {
  text-decoration: none;
  color: black;
}
.lnk-post {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.fig {
  font-size: 12px;
  text-align: center;
}
.fig-img {
  display: block;
  margin: 0px auto;
}
/*navi links home, about, web, social*/
.m-lnk-h:hover {
  color: #87CEFA;
}
.m-lnk-a:hover {
  color: #87CEFA;
}
.m-lnk-w:hover {
  color: #0BDA51;
}
.m-lnk-s:hover {
  color: #E00000;
}
.posts-lnk a:hover {
  text-decoration: underline;
  color: #87CEFA;
}

/*--------Container----------*/

.container {
  width: 910px;
  margin: 0 auto;
  overflow: auto;
  background: white;
}
.head {
  height: 60px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.nav {
  height: 30px;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.nav ul {
  list-style: none;
  height: 30px;
  padding: 0px;
  margin: .313em;
  font-family: 'Ankacoder', sans-serif;
}
.nav ul li {
  display: inline;
  padding: 10px;
}
.main {
  overflow: auto;
}
.m-left {
  float: left;
  width: 590px;
  padding: 10px;
}
.m-right {
  float: left;
  width: 280px;
}
.foot {
  clear: both;
  height: 30px;
  border-top: 1px solid black;
}
.ft-det {
  font-size: .875em;
  text-align: center;
}





