/* template homepage blog */
.debug {
  border: 0px solid red;
}
.bckgrd {
  /*background-image: url("../imgs/backgrounds/backtile.png");*/
  background-color: black;
}
.blg-title {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  color: #00AAE4;
}
.fnt-w {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.063em;
  letter-spacing: 1.2px;
  line-height: 130%;
  color: white;
}
.title-clr {
  margin-bottom: .188em;
  color: #00AAE4;
  letter-spacing: 0px;
}
.arc-t {
  margin-bottom: .125em;
  padding: 0px;
  text-decoration: underline;
  color:#00AAE4;
}
.archive {
  font-family: 'PT Sans', sans-serif;
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.archive li a {
  text-decoration: none;
  color: white;
}
.archive li a:hover {
  color:#00AAE4;
}
.lst-style {
  list-style-type: none;
  text-decoration: none;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 1.5em;
}
.lnk a {
  text-decoration: none;
  color: white;
}
.lnk-post {
  text-decoration: none;
  color: #00ff00;
  font-weight: bold;
}
/*navi links home, about, web, social*/
.lst-style a:hover {
  color: #00AAE4;
}
.lst-style li {
  padding: .4em;
}
.fig {
  font-size: 12px;
  text-align: center;
}
.fig-img {
  display: block;
  margin: 0px auto;
}

/*--------Container----------*/
.spacer {
  width: 100%;
  height: 7.814em;
}
.container {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  background: black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.blog-container {
  width: 910px;
  margin: 0 auto;
  overflow: auto;
}
.head {
  height: 60px;
  padding-top: 50px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-blog {
  overflow: auto;
  background-color: black;
}
.m-left {
  float: left;
  width: 590px;
  padding: 10px;
  margin-left: auto;
}
.m-right {
  float: right;
  width: 280px;
}
.m-center {
  width: 100%;
  text-align: center;
  min-height: 1000px
}
