<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="project" class="page-content">
      <div class="wrapper">
        <article class="post">

          <header class="post-header">

          </header>

          <div id="prj-content" class="post-content">
            {{ content }}
            <button id="scroll-top"><span class="glyphicon glyphicon-menu-up"></span></button>
          </div>

        </article>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
